.type-1934 .row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.type-1934 .row .banner {
  position: relative;
  z-index: 1;
  display: block;
}
.type-1934 .row .banner:hover {
  cursor: pointer;
}
.type-1934 .row .banner::before {
  background-color: rgba(255,255,255,0.15);
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  width: 0;
  z-index: 1;
}
.type-1934 .row .banner:hover::before {
  height: 100%;
  width: 100%;
}
.type-1934 .row .banner::after {
  background-color: rgba(255,255,255,0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  width: 0;
  z-index: 1;
}
.type-1934 .row .banner:hover::after {
  height: 100%;
  width: 100%;
}
.type-1934 .row .banner img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.type-1934 .block-main-product .title {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 32px;
  padding: 5px 0;
}
.type-1934 .block-main-product .title:hover {
  color: red;
  cursor: pointer;
}
.type-1934 .block-main-product .top-title {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 10px;
}
.type-1934 .block-main-product .nav-menu {
  float: right;
  list-style: none;
  padding: 10px 0;
  margin: 0 -10px;
  border-bottom: none;
}
.type-1934 .block-main-product .nav-tabs .nav-link.active {
  border: none;
}
.type-1934 .block-main-product .nav-tabs .nav-link:hover {
  border: none;
  color: #fcb800;
  transition: all .25s ease;
  font-weight: 500;
}
.type-1934 .block-main-product .nav-tabs .nav-link {
  border: none;
  color: black;
  font-weight: 500;
}
.type-1934 .tab-pane {
  position: relative;
  overflow: hidden;
  height: 1076.47px;
  transition: height 250ms ease-out 0s;
  margin-bottom: -40px;
}
@media only screen and (max-width: 320px) {
  .type-1934 .title {
    margin-left: 30px;
  }
  .type-1934 .block-main-product .nav-menu {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .type-1934 .block-main-product .nav-menu {
    margin-right: 40px;
  }
}
